@import "_variables";
// main 
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    // color: #222222;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    @media screen and (max-width: 1140px){
        max-width: 970px;
    }
    @media screen and (max-width: 970px){
        max-width: 760px;
    }
}


/* header style start */

.header {
    padding: 25px 0;
    border-bottom: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 750px){
        flex-direction: column;
    }
}
.header-inner__left {
    display: flex;
    align-items: center;
    @media screen and (max-width: 580px){
        flex-direction: column;
    }
}
.header-inner__right {
    display: flex;
    align-items: center;
    @media screen and (max-width: 750px){
        margin-top: 15px;
    }
}

.logo {
    width: 165px;
    height: 51px;
    background: url('../images/logo.png') no-repeat;
    padding-left: 72px;
    display: flex;
    align-items: center;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
}
.logo span {
    font-weight: 900;
    color: #f16d7f;
}
.search-form {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 32px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: 37px;
    @media screen and (max-width: 580px){
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0;
    }
}
.search-form__browse {
    font-weight: 300;
    letter-spacing: 0.025em;
    padding: 12px 13px;
    @media screen and (max-width: 340px){
        padding: 0;
    }
}
.search-form__browse i {
    margin-left: 8px;
    @media screen and (max-width: 340px){
        margin-left: 0;
    }
}
.search-form input {
    height: inherit;
    border: 1px solid #e6e6e6;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding: 14px 16px;
}
.search-form button {
    height: inherit;
    border: none;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding: 12px 11px;
    background-color: #fff;
}

.header-account {
    border: none;
    margin-left: 26px;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    background-color: #f16d7f;
    padding: 4px 12px;
}
.header-account i {
    margin-left: 8px;
}

/* header style end */

/* nav style start */

.menu {
    padding: 20px;
}
.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 750px){
        flex-direction: column;
        align-items: center;
    }
}
.menu__item:not(:last-child) {
    margin-right: 50px;
    @media screen and (max-width: 750px){
        margin-right: initial;
    }
}
.menu__link {
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}
.menu__link:hover {
    color: #f16d7f;
}

/* nav style end */


/* arrivals style start */

.arrivals {
    background-color: #f8f3f4;
    height: 148px;
}
.arrivals-inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 580px){
        flex-direction: column;
        justify-content: center;
    }
}
.arrivals__title {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    color: #f16d7f;
    text-transform: uppercase;
    @media screen and (max-width: 580px){
        margin-bottom: 15px;
    }
}
.arrivals__link {
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}
.arrivals__link:last-child {
    font-weight: 700;
    color: #f16d7f;
}
.arrivals__link:hover {
    font-weight: 700;
    color: #f16d7f;
}

/* arrivals style end */

/* details style start */

.details {
    margin-top: 90px;
}
.details-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}
.details-left {
    @media screen and (max-width: 970px){
        margin-right: 45px;
    }
}
.details__item,
.details__product {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
}
.details-right {
    display: flex;
    align-items: center;
    @media screen and (max-width: 430px){
        flex-direction: column;
    }
}
.details__item:not(:last-child) {
    margin-right: 66px;
    @media screen and (max-width: 970px){
        margin-right: 10px;
    }
}
.details__price {
    width: 76px;
    @media screen and (max-width: 480px){
        width: 40px;
    }
}
.details__quantity {
    width: 66px;
}
.details__shpping {
    width: 59px;
}
.details__subtotal {
    width: 64px;
}
.details__action {
    width: 49px;
}

/* details style end */


/* shopping style start */

.shopping {
    padding: 23px 0;
    border-bottom: 1px solid #eaeaea; 
}
.shopping-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping-left {
    display: flex;
    @media screen and (max-width: 970px){
        flex-direction: column;
        margin-right: 10px;
    }
}
.shopping-left__image {
    margin-right: 20px;
    @media screen and (max-width: 970px){
        margin-right: 0;
    }
}
.shopping-left__title {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 38px;
    @media screen and (max-width: 970px){
        margin-bottom: 10px;
    }
}
.shopping-left__subtitle {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #575757;
}
.shopping-left__subtitle span {
    font-weight: 300;
    color: #6f6e6e;
}
.shopping-right {
    display: flex;
    align-items: center;
    @media screen and (max-width: 430px){
        flex-direction: column;
    }
}
.shopping-right_mr:not(:last-child) {
    margin-right: 66px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;
    @media screen and (max-width: 970px){
        margin-right: 10px;
    }
}
.shopping-price {
    width: 76px;
    @media screen and (max-width: 480px){
        width: 40px;
    }
}
.shopping-quantity {
    width: 66px;
}
.shopping-shipping {
    width: 59px;
}
.shopping-subtotal {
    width: 64px;
}
.shopping-action {
    width: 49px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #c0c0c0;
}
.shopping-quantity input {
    width: 54px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    text-align: center;
}   
.shopping-btnInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0 63px;
    @media screen and (max-width: 500px){
        flex-direction: column;
    }
}
.shopping-btnInner button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    line-height: 1.2;
    font-weight: 700;
    color: #4a4a4a;
    &:last-child{
        @media screen and (max-width: 500px){
            margin-top: 10px;
        }
    }
}

/* shopping style end */

.buy-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    @media screen and (max-width: 1024px){
        flex-direction: column;
        align-items: center;
    }
}
.address {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    @media (max-width: 1024px){
        margin-right: 0;
    }
    @media screen and (max-width: 380px){
        max-width: 255px
    }
}
.address-title {
    width: inherit;
    margin-bottom: 22px;
}
.search-form__address select {
    margin-bottom: 20px;
}
.search-form__address input {
    margin-bottom: 21px;
}
.search-form__address select,
.search-form__address input {
    width: 100%;
    height: 45px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;
}
.search-form__address button {
    width: 100px;
    height: 35px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    border: 1px solid #eaeaea;
}
.buy-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}
.discount {
    max-width: 355px;
    margin-right: 35px;
    @media (max-width: 1024px){
        margin-right: 0;
    }
    @media screen and (max-width: 380px){
        max-width: 255px
    }
}
.discount-title {
    margin-bottom: 28px;
    @media screen and (max-width: 1024px){
        margin-top: 30px;
    }
}
.discount-subtitle {
    line-height: 1.2;
    font-weight: 300;
    color: #000000;
    margin-bottom: 24px;
}
.discount input {
    width: 100%;
    height: 45px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;
    border: 1px solid #eaeaea;
    margin-bottom: 25px;
}
.discount button {
    width: 118px;
    height: 35px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    border: 1px solid #eaeaea;
}
.result {
    width: 360px;
    background-color: #f5f3f3;
    padding: 40px 41px 42px 44px;
    text-align: right;
    @media screen and (max-width: 1024px){
        margin-top: 30px;
    }
    @media screen and (max-width: 380px){
        width: 255px
    }
}
.result-price {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 14px;
}
.result-price span { 
    margin-left: 10px;
}
.result-total {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.result-total span {
    color: #f16d7f;
    margin-left: 10px;
}
.result-line {
    width: 275px;
    height: 1px;
    background-color: #e2e2e2;
    margin-bottom: 17px;
    @media screen and (max-width: 380px){
        width: 190px;
    }
}
.result-btn button {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    border: none;
    transition: .3s linear;
    @media screen and (max-width: 380px){
        width: 190px;
    }
}
.result-btn:hover button {
    background-color: #f16477;
}




/* subscribe style start */

.subscribe {
    min-height: 438px;
    background: url('../images/subscribe_bg.png') no-repeat rgba(242,242,242,0.5);
    background-blend-mode: overlay;
    background-size: cover;
}
.subscribe-inner {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 438px;
    grid-gap: 10px;
    @media screen and (max-width: 1060px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 20px;
    }
    @media screen and (max-width: 580px){
        justify-items: center;
    }
}
.subscribe-left {
    display: flex;
    align-self: center;
    @media screen and (max-width: 1060px){
        justify-content: center;
        margin-bottom: 30px;
        padding-top: 20px
    }
    @media screen and (max-width: 580px){
        flex-direction: column;
        align-items: center;
    }
} 
.subscribe-left__photo {
    width: 87px;
}
.subscribe-content {
    margin-left: 25px;
    @media (max-width: 580px){
        margin-left: 0;
    }
}
.subscribe-content__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    max-width: 412px;
}
.subscribe-content__name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-top: 20px;
}
.subscribe-content__location {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}
.subscribe-content__line {
    display: flex;
    align-items: center;
}
.line {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-top: 40px;
    transition: .2s linear;
}
.line:not(:last-child) {
    margin-right: 13px;
}
.line:hover {
    background-color: #f16d7f;
}
.centerLine {
    height: inherit;
    width: 1px;
    background-color: #fff;
    @media screen and (max-width: 1060px){
        display: none;
    }
}
.subscribe-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe-right__title {
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}
.subscribe-right__subtitle {
    line-height: 24px;
    text-transform: none;
}
.subscribe-rigth__form {
    margin-top: 35px;
    height: 46px;
    display: flex;
    align-items: center;
}
.subscribe-rigth__form input {
    width: 334px;
    height: inherit;
    padding: 18px 28px;
    opacity: 0.67;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    background-color: #e1e1e1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    border: none;
    @media screen and (max-width: 580px){
        width: 150px;
    }
}
.subscribe-btn {
    width: 104px;
    height: inherit;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border: none;
    padding: 11px 15px;
    background-color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    transition: .3s linear;
}
.subscribe-btn:hover {
    background-color: #f16477;
}

/* subscribe style end */


/* footer style start */

.footer {
    padding-top: 100px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @media screen and (max-width: 1200px){
        flex-direction: column;
    }
}
.footer-top__text {
    width: 487px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    margin-top: 40px;
    @media screen and (max-width: 580px){
        width: initial;
    }
}
.footer-top__secondText {
    margin-top: 30px;
}
.footer-top__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    margin-left: 50px;
    @media screen and (max-width: 1200px){
        margin-top: 20px;
    }
    @media screen and (max-width: 1060px){
        margin-top: 30px;
        margin-left: initial;
    }
    @media screen and (max-width: 730px){
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}
.footer-top__col {
    display: flex;
    flex-direction: column;
}
.footer-menu__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-bottom: 40px;
    @media screen and (max-width: 730px){
        margin-top: 15px;
    }
}
.footer-top__link {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    &:hover {
        color: #f16d7f;
    }
}
.footer-top__link:first-child {
    line-height: 59px;
}
.footer-bottom {
    background-color: #e6e6e6;
}
.footer-bottom_inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    @media screen and (max-width: 580px){
        flex-direction: column;
    }
}
.copyright {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}
.footer-contacts {
    display: flex;
    align-items: center;
}
.footer-contacts__item {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-contacts__item i {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
}
.footer-contacts__item:not(:last-child) {
    margin-right: 8px;
}
.footer-contacts__item:hover {
    background-color: #f16d7f;
}
.footer-contacts__item:hover i {
    color: #fff;
}

/* footer style end */



// single page style start

// slider style start

.model {
    background-color: #f7f7f7;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    &-slider {
        height: 777px;
        position: relative;
        background: url('../images/single_page_bg.png') no-repeat center center;
        background-color: #f7f7f7;
        border: 1px solid #d8d8d8;
    }
        .model-arrow__left, 
        .model-arrow__right {
            position: absolute;
            top: 50%;
            z-index: 10;
            width: 47px;
            height: 47px;
            background-color: rgba(42,42,42,0.14);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
            color: #ffffff;
            cursor: pointer;
        }
        .model-arrow__right {
            right: 0;
        }
        .model-arrow__left {
            left: 0;
        }
            
    
        
}

.model-position {
    background-color: #fff;
}
.model-inner {
    min-height: 730px;
    border: 1px solid #eaeaea;
    padding: 73px 0 93px;
    background-color: #fff;
    position: relative; 
    top: -72px;
}
    .model-inner__title {
        width: 148px;
        color: $mainColor;
        font-weight: 900;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
        position: relative;
        @extend %modelInner;
    }     
    .model-inner__title::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 11;
        width: 63px;
        height: 3px;    
        background-color: $color-2;
        }
    .model-inner__subtitle {
        width: 255px;
        font-size: 18px;
        font-weight: 900;
        color: #4d4d4d;
        @extend %modelInner;
        margin-top: 17px;
        text-transform: uppercase;
    }  
    .model-inner__text {
        width: 619px;
        font-weight: 300;
        color: #5e5e5e;
        line-height: $lineHeight;
        @extend %modelInner;
        margin-top: 67px;
        @media screen and (max-width: 700px){
            width: 400px;
        }
        @media screen and (max-width: 430px){
            width: 300px;
        }
    }
    .model-inner__info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
        font-weight: 700;
        color: #b9b9b9;
        line-height: $lineHeight;
        @media screen and (max-width: 420px){
            flex-direction: column;
        }
    }
        span {
            color: #2f2f2f;
        }
        .model-inner__material {
            width: 135px;
            margin-right: 44px;
            @media screen and (max-width: 420px){
                margin-right: 0;
            }
        }
        .model-inner__designer {
            width: 160px;
        }
    .model-inner__price {
        @extend %modelInner;
        color: $color-2;
        font-weight: 900;
        line-height: $lineHeight;
        margin-top: 37px;
    }
    .model__line {
        width: 642px;
        height: 1px;
        background-color: #eaeaea;
        margin-top: 43px;
        @extend %modelInner;
        @media screen and (max-width: 700px){
            width: 400px;
        }
        @media screen and (max-width: 430px){
            width: 300px;
        }
    }
    .search-form__title {
        font-weight: 700;
        color: #2f2f2f;
        line-height: $lineHeight;
    }
    .search-form__model {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 63px;
        @media screen and (max-width: 700px){
            flex-direction: column;
        }
        .search-form__color-input {
            position: relative;
        }
        .choose-color {
            @extend %choose;
            padding-left: 37px;
            margin-right: 53px;
            @media screen and (max-width: 700px){
                margin-right: 0;
            }
        }
        .choose-size {
            @extend %choose;
            padding-left: 15px;
            margin-right: 53px;
            @media screen and (max-width: 700px){
                margin-right: 0;
            }
        }
        .color-square {
            width: 12px;
            height: 12px;
            background-color: #ef5b70;
            position: absolute;
            top: 11px;
            left: 14px;
            z-index: 12;
        }
        .choose-quantity {
            @extend %choose;
            padding-left: 17px;
        }
        
    }

    .model-btn {
        width: 541px;
        height: 55px;
        border: 1px solid $color-2;
        background: #fff;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: $color-2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 28px;
        @media screen and (max-width: 700px){
            width: 297px;
        }
    }
        .model-btn__cart {
            margin-right: 15px;
        }
        



// slider style end

// like style start

.like {
    margin-top: 119px;
    margin-bottom: 75px;
    .like-title {
        @extend %modelInner;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        margin-bottom: 60px;
    }
    .like-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 35px;
        justify-items: center;
        @media screen and (max-width: 1380px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 580px){
            grid-template-columns: 1fr;
        }
    }
        .like-item {
            box-shadow: none;
            .like-item__image {
                width: 261px;
                height: 290px;
                background-color: #e9e9e9;
                position: relative;
                .like-item__img {
                    position: absolute;
                    top: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }  
            .like-item__text {
                padding: 20px 14px 20px 14px;
                .like-item__info {
                    @extend %likeText;
                    color: #6f6e6e;
                    font-weight: 700;
                }
                .like-item__price {
                    margin-top: 16px;
                    @extend %likeText;
                    font-weight: 700;
                    color: $mainColor;
                }
            }
        &:hover .like-item__text {
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
        }
        &:hover .feature-buy {
            display: block;
        } 
        }
        
            
}
.feature-buy {
    display: none;
    width: 100%;
    height: inherit;
    position: absolute;
    background-color: rgba(58,56,56,0.83);
    z-index: 15;
}
.feature-buy__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 15px 13px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    z-index: 15;
}



// like style end
// single page end 


// product start

.product {
    margin-top: 60px;
    margin-bottom: 100px;
    &-inner {
        display: flex;
        @media (max-width: 540px){
            flex-direction: column;
        }
    }
}
.card-header {
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}
.card-body {
    display: flex;
    flex-direction: column;
    &__link {
        line-height: 33px;
        font-weight: 400;
        color: #6f6e6e;
        text-decoration: none;
    }
}
.card {
    border: none;
    border-radius: 0;
    background-color: #fff;
    &::selection {
        background: #fff;
    }
    .card-header {
        border-bottom: 1px solid #ebebeb;
        border-left: 5px solid $color-2 !important;
        border-radius: 0;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ef5b70;
        padding: 14px 10px;
        background-color: #fff;
    }
}
.btn {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 0;
}
.btn-link {
    color: #6f6e6e;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
.col-md-9 {
    .row {
        display: flex;
    }
    .col-md-4 {
        padding: 0 0 40px;
        .product-header {
            line-height: 20px;
            font-weight: 700;
            color: #6f6e6e;
            margin-bottom: 25px;
        }
        .product-header__price {
            margin-bottom: 0;
        }
        .product-size {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
            & span {
                color: #dfdfdf;
                padding-left: 4px;
                padding-right: 5px;
            }
        }
        .product-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__item {
                line-height: 26px;
                font-weight: 400;
                color: #6f6e6e;
                margin-top: -16px;
            }
        }
    }
    .productTwo {
        background-color: #f3f3f3;
        height: 50px;
        margin-bottom: 50px;
        @media (max-width: 367px){
            height: 85px;
        }
    }
    .search-form__productTwo {
        display: flex;
        align-items: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        .search-form__criterion:first-child {
            margin-right: 10px;
        }
        .search-form__criterion label {
            border: 1px solid #ebebeb;
            background-color: #ffffff;
            padding: 10px;
            font-weight: 400;
            color: #6f6e6e;
        }
        .search-form__criterion select {
            padding: 8px 0 8px 9px;
            background-color: #ffffff;
            border: 1px solid #ebebeb;
            margin-left: -3px;
            font-weight: 400;
            color: #6f6e6e;
            &:last-child {
                padding-right: 20px;
            }
        }
    }
}
.search-form__size {
    & input {
        width: 13px;
        height: 13px;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        margin-right: 9px;
    }
    .search-form__size-choose {
        width: 51px;
        margin-bottom: 15px;
        &:not(:last-child) {
            margin-right: 9px;
        }
    }
}
.search-form__size_df {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
}
.product-line__image {
    margin-top: -7px;
}
.cards-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    @media (max-width: 780px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 680px){
        grid-template-columns: 1fr;
    }
}
.cards-info {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #6f6e6e;
}
.cards__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding: 15px 15px 20px;
}
.cards__img {
    display: block;
    width: 100%;
    height: 100%;
}
.productCards__info {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
  }
.product-box {
    .col-md-12 {
        padding-right: 0;
        padding-left: 0;
        .product-cards__item:hover .feature-buy{
            display: block;
        }
        .product-cards__item:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); 
        }
    }
}
.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
    @media (max-width: 680px){
        flex-direction: column;
    }
    .number-menu {
        font-size: 20.2px;
        line-height: 26px;
        font-weight: 400;
        color: #aaaaaa;
        padding: 9px 40px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        display: flex;
        align-items: center;
        i {
            padding-right: 15px;
            padding-left: 15px;
        }
        &__link {
            display: inline-block;
            font-size: 16px;
            line-height: 26px;
            font-weight: 300;
            color: #c4c4c4;
            text-decoration: none;
            &:hover {
                color: $color-2;
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}
.col-md-12 {
    padding: 0;
}
.product-btn {
    font-size: 16px;
    line-height: 44px;
    font-weight: 300;
    color: #ef5b70;
    cursor: pointer;
    padding: 0 45px;
    border: 1px solid #ef5b70;
    border-radius: 3px;
    background-color: #fff;
}

// product end


// productAdvantages style start

.productAdvantages {
    background-color: #222224;
    padding-top: 90px;
    padding-bottom: 115px;
}
.productAdvantages-items {
    display: flex;
    align-items: center;
    .productAdvantages__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fbfbfb;
        .productAdvantages__title {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            margin-top: 30px;
        }
        .productAdvantages__subtitle {
            line-height: 23px;
            font-weight: 300;
            letter-spacing: 0.025em;
            margin-top: 15px;
        }
    }
}


// productAdvatages style end


// shipping style start

.shipping {
    margin-top: 90px;
    margin-bottom: 90px;
}
.shipping-card {
    border-radius: 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #e8e8e8 !important;
    &:hover .shipping-btn__link,
    &:active .shipping-btn__link,
    &:focus .shipping-btn__link {
        color: #f16d7f;
        text-decoration: none;
    }
}
.card-header {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    padding: 25px 0;
}
.shipping-card__header {
    background-color: #fff;
    border: none;
}
.shipping-btn__link {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    padding: 0;
}
.card-body { 
    padding-bottom: 45px;
}

.shippingWrap {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    @media (max-width: 485px){
        flex-direction: column;
    }
}
.shippingLeft, .shippingRight {
    width: calc(50% - 15px);
}
.shippingLeft {
    label {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        
    }
}
.shipping-title {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 15px;
    &_media {
        @media (max-width: 485px){
            margin-top: 15px;
        }
    }
}
.shipping-desc {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    margin-bottom: 30px;
}
#check1,
#check2 {
    display: none;
}
label[for="check1"],
label[for="check2"] {
    display: block;
    padding-left: 20px;
    background: url('../images/unchecked.png') no-repeat left center;
    margin-bottom: 20px;
}
#check1:checked + label,
#check2:checked + label {
    background: url('../images/checked.png') no-repeat left center;
}
.shipping-arrow {
    background: url('../images/reg_arrow.png') no-repeat left center;
    padding-left: 13px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
}
.shipping-button {
    padding: 19px 53px;
    border: 1px solid #eaeaea;
    background: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    &_left {
        margin-top: 38px;
    }
}
.shippingRight input,
.shippingRight label {
    display: block;
}
.shippingRight__formTitle {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 15px;
    span {
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
        color: #ff0d0d;
    }
}
.shippingRight input {
    margin-bottom: 20px;
    outline: none;
    padding: 15px;
    border: 1px solid #eaeaea;
    width: 70%;
}
.shippingRight__clarification {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: #ff0d0d;
}
.shipping-button_right {
    margin-top: 32px;
}
.forgot-password {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #222222;
    margin-left: 32px;
    @media (max-width: 485px){
        margin-left: 0;
    }
}

// shipping style end